CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=

NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY=
ALGOLIA_SEARCH_ADMIN_KEY=

ADYEN_APIKEY=<do not generate new one! get key from credential file or team>
ADYEN_MERCHACC=<in Adyen left top name>